<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lsj.mapper.RasberryMapper">
	 	
	<select id="selectByDate" resultType="com.lsj.domain.RasberryVO">
		SELECT * FROM temp_hud
		WHERE date_format(time, '%Y-%m-%d') = #{datePicker}
			AND serialnumber = #{serialnumber}
		ORDER BY time DESC
	</select>
	
	<select id="selectForInfo" resultType="com.lsj.domain.RasberryVO">
		SELECT * FROM temp_hud
		ORDER BY time DESC
		LIMIT 1
	</select>
    
    <select id="login" resultType="com.lsj.domain.RasberryloginVO">
		SELECT serialnumber, passwd
		FROM rasberry
		WHERE serialnumber = #{serialnumber}
		AND passwd = #{passwd}
	</select>
	
	<insert id="updateOnoff">
		UPDATE hw_on_off_log
		SET
			serialnumber = #{serialnumber},
			manualOnoff = #{manualOnoff},
			autoOnoff = #{autoOnoff},
			time = #{time}
		WHERE
			serialnumber = #{serialnumber}
	</insert>
	
	<select id="selectOnoff" resultType="com.lsj.domain.RasberryVO">
		SELECT 
			serialnumber,
		    manualOnoff,
		    autoOnoff,
		    time
		FROM
			hw_on_off_log
		WHERE
			serialnumber = #{serialnumber}
	</select>
	
</mapper>  